{% extends "shared/edit_base.html" %}

{% set pic_dir = "animePic" %}
{% set back_url = url_for('anime.animes') %}

{% block type %}
    <p>
        <label>Type: </label>
        <select name="type">
            <option value="TV" {% if medium.type.name == 'TV' %}selected{% endif %}>TV</option>
            <option value="MOVIE" {% if medium.type.name == 'MOVIE' %}selected{% endif %}>Movie</option>
            <option value="OVA" {% if medium.type.name == 'OVA' %}selected{% endif %}>OVA</option>
        </select>
    </p>
{% endblock %}

{% block databaseLinks %}
    <p>
        <label>Bangumi link: </label>
        <input type="text" placeholder="e.g. https://chii.in/subject/10380" value="{{medium.bangumi_links}}" name="bangumi_links">
    </p>
{% endblock %}
    
{% block status %}
    <p>
        <label>Status: </label>
        <select name="status" >
            <option value="WATCHING" {% if medium.status.name == 'WATCHING' %}selected{% endif %}>Watching</option>
            <option value="COMPLETED" {% if medium.status.name == 'COMPLETED' %}selected{% endif %}>Completed</option>
            <option value="PLANNING" {% if medium.status.name == 'PLANNING' %}selected{% endif %}>Planning</option>
            <option value="DROPPED" {% if medium.status.name == 'DROPPED' %}selected{% endif %}>Dropped</option>
            <option value="ON_HOLD" {% if medium.status.name == 'ON_HOLD' %}selected{% endif %}>On Hold</option>
        </select>
    </p>
{% endblock %}
