{% extends "shared/new_base.html" %}

{% block title %}New Anime{% endblock %}

{% block header %}
    {{ super() }}
    <h2>Anime</h2>
{% endblock %}


{% block type %}
    <p>
        <label>Type: </label>
        <select name="type" id="type">
            <option value="TV">TV</option>
            <option value="MOVIE">Movie</option>
            <option value="OVA">OVA</option>
        </select>
    </p>
{% endblock %}

{% block databaseLinks %}
    <p>
        <label>Bangumi link: </label>
        <input type="text" id="bangumi_links" placeholder="e.g. https://bgm.tv/subject/10380" name="bangumi_links">
    </p>
{% endblock %}

{% block status %}
    <p>
        <label>Status: </label>
        <select name="status">
            <option value="DEFAULT">Default</option>
            <option value="WATCHING">Watching</option>
            <option value="COMPLETED">Completed</option>
            <option value="PLANNING">Planning</option>
            <option value="DROPPED">Dropped</option>
            <option value="ON_HOLD">On Hold</option>
        </select>
    </p>
{% endblock %}
