{% extends "shared/new_base.html" %}

{% block title %}
    New Game
{% endblock %}


{% block type %}
    <p>
        <label>Type: </label>
        <select name="type" id="type">
            <option value="PC">PC</option>
            <option value="CONSOLE">Console</option>
            <option value="MOBILE">Mobile</option>
            <option value="ONLINE">ONLINE</option>
        </select>
    </p>
{% endblock %}

{% block databaseLinks %}
    <p>
        <label>RAWG link: </label>
        <input type="text" id="rawg_links" placeholder="e.g. https://rawg.io/games/black-jacket" name="rawg_links">
    </p>
{% endblock %}

{% block status %}
    <p>
        <label>Status: </label>
        <select name="status">
            <option value="PLAYING">Playing</option>
            <option value="COMPLETED">Completed</option>
            <option value="PLANNING">Planning</option>
            <option value="DROPPED">Dropped</option>
            <option value="ON_HOLD">On Hold</option>
        </select>
    </p>
{% endblock %}

