{% extends "shared/edit_base.html" %}

{% set pic_dir = "gamePic" %}
{% set back_url = url_for('game.games') %}

{% block type %}
    <p>
        <label>Type: </label>
        <select name="type">
            <option value="PC" {% if medium.type.name == 'PC' %}selected{% endif %}>PC</option>
            <option value="CONSOLE" {% if medium.type.name == 'CONSOLE' %}selected{% endif %}>Console</option>
            <option value="MOBILE" {% if medium.type.name == 'MOBILE' %}selected{% endif %}>Mobile</option>
            <option value="ONLINE" {% if medium.type.name == 'ONLINE' %}selected{% endif %}>Online</option>
        </select>
    </p>
{% endblock %}

{% block databaseLinks %}
    <p>
        <label>igdb link: </label>
        <input type="text" placeholder="e.g. https://chii.in/subject/10380" value="{{medium.igdb_links}}" name="igdb_links">
    </p>
{% endblock %}
    
{% block status %}
    <p>
        <label>Status: </label>
        <select name="status" >
            <option value="PLAYING" {% if medium.status.name == 'PLAYING' %}selected{% endif %}>Playing</option>
            <option value="COMPLETED" {% if medium.status.name == 'COMPLETED' %}selected{% endif %}>Completed</option>
            <option value="PLANNING" {% if medium.status.name == 'PLANNING' %}selected{% endif %}>Planning</option>
            <option value="DROPPED" {% if medium.status.name == 'DROPPED' %}selected{% endif %}>Dropped</option>
            <option value="ON_HOLD" {% if medium.status.name == 'ON_HOLD' %}selected{% endif %}>On Hold</option>
        </select>
    </p>
{% endblock %}