<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Creat new record</h1>
    <h2>Anime</h2>
    <form action="">
        <span>Name: </span>
        <input type="text" placeholder="e.g. STEINS;GATE" name="name">
        <span></span>
        <input type="text" placeholder="e.g. STEINS;GATE" name="name">
        <input type="text" placeholder="e.g. STEINS;GATE" name="name">
        <input type="text" placeholder="e.g. STEINS;GATE" name="name">

    </form>
</body>
</html>