<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.min.css">
    <title>{% block title %}base{% endblock %}</title>
</head>

<body>
    <header class="container">
        {% block header %}
        <nav>
            <a href="{{url_for('home')}}">Home</a>
        </nav>
        {% endblock %}
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="container">
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>