{% extends "base.html" %}

{% block title %}
    {{ medium.name }}
{% endblock %}

{% block header %}
    {{ super() }}
    <h1 style="margin-left: 30px;">{{ medium.name }}</h1>
{% endblock %}

{% block content %}
    <div style="display: flex; align-items: flex-start; gap: 20px; margin: 30px; ">
        {% if medium.image_url %}
            <img src="{{url_for('static', filename='uploads/' + pic_dir + '/' + medium.image_url)}}"
                alt="picture" width="300">
        {% else %}
            <img src="{{url_for('static', filename='default/defaultPic.png')}}"
                alt="Loading failed" width="300">
        {% endif %}
        <div>
            <p><strong>Type: </strong>{{ medium.type.value }}</p>
            <p><strong>Release date: </strong>{{ medium.release_date.strftime('%Y-%m-%d') if medium.release_date else 'Unknown' }}</p>
            <p><strong>Summary: </strong>{{ medium.summary }}</p>
            <p><strong>Score: </strong>{{ medium.score }} / 10</p>
            <p><strong>Reviews: </strong>{{ medium.reviews }}</p>
            <strong>Links</strong>
            {% if medium.bangumi_links %}
                <a href="{{ medium.bangumi_links }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{url_for('static', filename='default/BangumiIcon.png')}}" alt="bangumi link" class="icon">
                </a>
            {% endif %}
            {% if medium.igdb_links %}
                <a href="{{ medium.igdb_links }}" target="_blank" rel="noopener noreferrer">IGDB</a>
            {% endif %}
            {% if medium.official_links %}
                <a href="{{ medium.official_links }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{url_for('static', filename='default/link.png')}}" alt="official site link" class="icon">
                </a>
            {% endif %}
                <p><strong>Status: </strong>{{ medium.status.value if medium.status else 'Unknown' }}</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center; gap: 15px;">
            <a class="header-link" href="{{ back_url }}">Back to List</a>
            <a class="header-link" href="{{ edit_url }}">Edit</a>
        </div>

        <div>
            <form action="{{ delete_url }}"
                onsubmit="return confirm('Are you sure you want to delete this file?')" method="POST">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
