{% extends "base.html" %}

{% block title %}
    Edit {{ medium.name }}
{% endblock %}

{% block header %}
    {{ super() }}
    <h1>Edit</h1>
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        <p>
            <label>Name: </label>
            <input type="text" value="{{medium.name}}" name="name">
        </p>

        <p>
            <label>Current Image: </label>
            {%if medium.image_url %}
                <img src="{{ url_for('static', filename='uploads/' + pic_dir + '/' + medium.image_url) }}" 
                    alt="picture" width="200">
            {% else %}
                <img src="{{url_for('static', filename='default/defaultPic.png')}}"
                    alt="Loading failed" width="200">
            {% endif %}
        </p>

        <p>
            <label>Change Image: </label>
            <input type="file" name="image_file" accept="image/*">
        </p>

        <p>
            <label>Summary: </label>
            <textarea name="summary" id="summary" cols="30" rows="5">{{medium.summary}}</textarea>
        </p>

        <p>
            <label>Your review: </label>
            <textarea name="reviews" id="reviews" cols="30" rows="5">{{medium.reviews}}</textarea>
        </p>

        <p>
            <label>Your Score: </label>
            <input type="number" name="score" min="0" max="10" step="0.1" value="{{medium.score if medium.score is not none else '7.0'}}">
        </p>
        {% block type %}

        {% endblock %}
        <p>
            <label>Broadcast date: </label>
            <input type="date" name="release_date" value="{{ medium.release_date.strftime('%Y-%m-%d') if medium.release_date else '' }}">
        </p>
        {% block databaseLinks %}

        {% endblock %}
        <p>
            <label>Official link: </label>
            <input type="text" value="{{medium.official_links}}" name="official_links">
        </p>
        {% block status %}

        {% endblock %}
        <hr>
        <button type="submit">Submit</button> <a href="{{ back_url }}">Cancel</a>
    </form>
{% endblock %}